[Unit]
Description=MESA Web Service
After=network.target

[Service]
Type=simple
ExecStart=/bin/bash -c '. /opt/MESA-venv/bin/activate && gunicorn --bind 127.0.0.1:8000 mesa_gui.wsgi:application'
ExecStop=/bin/bash -c 'pkill -f "gunicorn --bind 127.0.0.1:8000 mesa_gui.wsgi:application"'
WorkingDirectory={{ vm_tools_source_dir }}/github.com/cisagov/mesa-gui/mesa_gui/

[Install]
WantedBy=default.target
